* {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 500px;
    margin: auto;
}

/* Header */
/* ************************************* */
header {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/tyson-moultrie-BQTHOGNHo08-unsplash.jpg");
    background-size: cover;
    padding: 0 2.625em;
    color: white;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 1.7em 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}

/* search bar */
/* ************************************* */

.search-container {
    position: relative;
    bottom: calc(-1.2em);
    display: flex;
    justify-content: center;
}

.search {
    width: 100%;
    padding-left: 0.8125em;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search img {
    padding-right: 0.5em;
}

input {
    border: none;
    height: 2em;
    width: 100%;
}

input:focus,
input:active {
    outline: none;
}

button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 2em;
    border: none;
    background-color: #F9FAFB;
    height: 2em;
    cursor: pointer;
}

/* Main */
/* ************************************* */
main {
    height: calc(100vh - 256.19px);
    padding: 0 2.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#exploring {
    margin-top: 0.5em;
    font-weight: 700;
    color: #DFDDDD;
}

/* Movies */
/* ************************************* */
.movie:first-child {
    margin-top: 2.75em;
}


.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #E5E7EB;
}

.movie img {
    max-width: 100px;
    margin: 1.25em 1.3125em 1.25em 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metadata {
    display: flex;
    font-size: 1rem;
    margin: 1em 0;
}


.title h3 {
    color: black;
    font-size: 1.125rem;
    font-weight: 500;
}

.star {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}

.stars {
    font-size: 0.875rem;
    font-weight: 400
}

.length {
    margin-right: 1.1875em;
}

#add-to-watchlist {
    display: flex;
    align-items: center;
    margin-left: 1.875em;
    cursor: pointer;
}

#add-to-watchlist img {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}

.description {
    color: #6B7280;
    font-size: 0.875rem;
    font-weight: 400;
}


/* Watchlist */
/* ************************************* */

#add-movies {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
}

#add-movies img {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}


/* Media queries */
/* ************************************* */

@media (max-width: 450px) {

    * {
        padding: 0;
        margin: 0;
    }

    body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header,
    main {
        width: 100%;
        padding: 0;
        margin: 0
    }

    .container,
    .movie {
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .movie {
        border: 3px solid green;

    }

    .metadata {
        flex-direction: column;
    }



}